In [26]:
import sys
import polars as pl
from pathlib import Path

In [56]:
DATA_FOLDER = 'data'
FOOD_HICP_DK='CP0110DKM086NEST.csv'
FOOD_HICP_NL='CP0110NLM086NEST.csv'
ALL_HICP_DK='CP0000DKM086NEST.csv' 
ALL_HICP_NL='CP0000NLM086NEST.csv'

In [62]:
# Get current working directory
cwd = Path.cwd()

# Get parent directory
parent_dir = cwd.parent

# Get data directory
data_dir = Path(parent_dir).joinpath(DATA_FOLDER)

# Get DK HCPI data
try:
    food_hicp_dk_df = pl.read_csv(data_dir.joinpath(FOOD_HICP_DK))
    all_hicp_dk_df = pl.read_csv(data_dir.joinpath(ALL_HICP_DK))
    food_hicp_nl_df = pl.read_csv(data_dir.joinpath(FOOD_HICP_NL))
    all_hicp_nl_df = pl.read_csv(data_dir.joinpath(ALL_HICP_NL))
except FileNotFoundError as er:
    print(er)
    sys.exit('Abort')

food_hicp_dk_df = food_hicp_dk_df.with_columns(pl.col("observation_date").str.strptime(pl.Date, format="%Y-%m-%d"))
all_hicp_dk_df = all_hicp_dk_df.with_columns(pl.col("observation_date").str.strptime(pl.Date, format="%Y-%m-%d"))
food_hicp_nl_df = food_hicp_nl_df.with_columns(pl.col("observation_date").str.strptime(pl.Date, format="%Y-%m-%d"))
all_hicp_nl_df = all_hicp_nl_df.with_columns(pl.col("observation_date").str.strptime(pl.Date, format="%Y-%m-%d"))

food_hicp_dk_df

shape: (353, 2)
┌──────────────────┬──────────────────┐
│ observation_date ┆ CP0110DKM086NEST │
│ ---              ┆ ---              │
│ date             ┆ f64              │
╞══════════════════╪══════════════════╡
│ 1996-01-01       ┆ 68.6             │
│ 1996-02-01       ┆ 68.8             │
│ 1996-03-01       ┆ 69.1             │
│ 1996-04-01       ┆ 69.3             │
│ 1996-05-01       ┆ 69.7             │
│ …                ┆ …                │
│ 2025-01-01       ┆ 133.9            │
│ 2025-02-01       ┆ 134.9            │
│ 2025-03-01       ┆ 135.1            │
│ 2025-04-01       ┆ 135.4            │
│ 2025-05-01       ┆ 136.8            │
└──────────────────┴──────────────────┘

In [63]:
all_hicp_dk_df

shape: (353, 2)
┌──────────────────┬──────────────────┐
│ observation_date ┆ CP0000DKM086NEST │
│ ---              ┆ ---              │
│ date             ┆ f64              │
╞══════════════════╪══════════════════╡
│ 1996-01-01       ┆ 70.4             │
│ 1996-02-01       ┆ 70.8             │
│ 1996-03-01       ┆ 71.3             │
│ 1996-04-01       ┆ 71.5             │
│ 1996-05-01       ┆ 71.7             │
│ …                ┆ …                │
│ 2025-01-01       ┆ 119.9            │
│ 2025-02-01       ┆ 121.1            │
│ 2025-03-01       ┆ 120.4            │
│ 2025-04-01       ┆ 120.5            │
│ 2025-05-01       ┆ 120.5            │
└──────────────────┴──────────────────┘

In [64]:
food_hicp_nl_df

shape: (353, 2)
┌──────────────────┬──────────────────┐
│ observation_date ┆ CP0110NLM086NEST │
│ ---              ┆ ---              │
│ date             ┆ f64              │
╞══════════════════╪══════════════════╡
│ 1996-01-01       ┆ 74.34            │
│ 1996-02-01       ┆ 74.64            │
│ 1996-03-01       ┆ 76.12            │
│ 1996-04-01       ┆ 75.98            │
│ 1996-05-01       ┆ 74.71            │
│ …                ┆ …                │
│ 2025-01-01       ┆ 141.27           │
│ 2025-02-01       ┆ 142.89           │
│ 2025-03-01       ┆ 142.95           │
│ 2025-04-01       ┆ 143.15           │
│ 2025-05-01       ┆ 144.22           │
└──────────────────┴──────────────────┘

In [53]:
df_nl_total = pl.read_csv(
    "https://fred.stlouisfed.org/graph/fredgraph.csv?id=CPALTT01NLM657N",
    try_parse_dates=True
)
df_nl_total
# df_nl_total = pl.read_csv(
#     "https://fred.stlouisfed.org/graph/fredgraph.csv?id=CP0000NLM086NEST",
#     try_parse_dates=True
# )
# df_nl_total

shape: (767, 2)
┌──────────────────┬─────────────────┐
│ observation_date ┆ CPALTT01NLM657N │
│ ---              ┆ ---             │
│ date             ┆ f64             │
╞══════════════════╪═════════════════╡
│ 1960-04-01       ┆ 0.128234        │
│ 1960-05-01       ┆ -0.961538       │
│ 1960-06-01       ┆ -0.970874       │
│ 1960-07-01       ┆ 0.0             │
│ 1960-08-01       ┆ -0.980392       │
│ …                ┆ …               │
│ 2023-10-01       ┆ 0.448254        │
│ 2023-11-01       ┆ -1.041259       │
│ 2023-12-01       ┆ 0.039557        │
│ 2024-01-01       ┆ 0.521945        │
│ 2024-02-01       ┆ 0.660845        │
└──────────────────┴─────────────────┘